<nav class="navbar navbar-expand-lg navbar-light bg-light p-3">
    <a class="navbar-brand ms-3 fs-4" routerLink="" style="font-family: 'Courgette', cursive;">Dj-Technologies<span class="text-danger fs-5">.</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse ms-3 fs-6" style="font-family: 'Alex+Brush', cursive;">
      <div class="navbar-nav col-md-6 text-end">
        <a class="nav-item nav-link col-md-3" href="#">Features</a>
        <a class="nav-item nav-link col-md-3" href="#">Pricing</a>
        <a class="nav-item nav-link col-md-3" routerLink = 'about-us'>About Us</a>
        <a class="nav-item nav-link col-md-3" routerLink = 'contact-us'>Contact Us</a>
        <a class="nav-item nav-link col-md-3" href="#">Login</a>
      </div>
      <div class="mx-auto">
        <button class="bg-warning rounded-pill border-0 px-5 p-2" href="#">Schedule a Demo</button>
      </div>
    </div>
    
    <div class="navbar-nav">
      <a class="nav-items nav-link" style="font-family: 'Alex+Brush', cursive;">Dark Mode</a>
      <span class="glyphicon glyphicon-certificate" aria-hidden="true"></span>
    </div>
  </nav>