<div class="container">
    <h1 class="display-3">Contact to Us</h1>
    <form>
        <div class="form-group row mt-5">
            <label class="col-form-label col-sm-2">Full Name: </label>
            <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="Enter Full Name" name="fullname" required />
            </div>
        </div>
        <div class="form-group row mt-4">
            <label class="col-form-label col-sm-2">Email: </label>
            <div class="col-sm-6">
                <input type="email" class="form-control" placeholder="Enter email" name="email" required>
            </div>
        </div>
        <div class="form-group row mt-4">
            <label class="col-form-label col-sm-2">Mobile No</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="Enter Mobile No." name="mobile">
            </div>
        </div>
        <div class="form-group row mt-4">
            <label class="col-form-label col-sm-2">Describe</label>
            <div class="col-sm-6">
                <textarea class="form-control" placeholder="write to us" rows="3"></textarea>
            </div>
        </div>
    </form>
    <button class="btn btn-warning mt-4 mb-4" type="submit"> Submit </button>
</div>