<footer class="page-footer font-small text-light" style="background-color: #1c2331;">
    <div class="mb-0" style="background-color: #6351ce;">
        <div class="container">
    
          <!-- Grid row-->
          <div class="row py-4 d-flex align-items-center">
    
            <!-- Grid column -->
            <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
              <h6 class="mb-0">Get connected with us on social networks!</h6>
            </div>
            <!-- Grid column -->
    
            <!-- Grid column -->
            <div class="col-md-6 col-lg-7 text-center text-md-right">
    
              <!-- Facebook -->
              <a class="fb-ic">
                <i class="fab fa-facebook-f"></i>
              </a>
              <!-- Twitter -->
              
              <a class="tw-ic">
                <i class="fab fa-twitter white-text mr-4"> </i>
              </a>
              <!-- Google +-->
              <a class="gplus-ic">
                <i class="fab fa-google-plus-g white-text mr-4"> </i>
              </a>
              <!--Linkedin -->
              <a class="li-ic">
                <i class="fab fa-linkedin-in white-text mr-4"> </i>
              </a>
              <!--Instagram-->
              <a class="ins-ic">
                <i class="fab fa-instagram white-text"> </i>
              </a>
    
            </div>
            <!-- Grid column -->
    
          </div>
          <!-- Grid row-->
    
        </div>
      </div>
    <div class="container text-center text-md-left p-3">
        <div class="row">
            <div class="col-md-2 col-xl-3 col-lg-3 mx-auto">
                <h4 style="font-family: 'Courgette'; ">Dj-Technologies</h4>
                <p>We are commited to fullfill all the requirements that our client need!</p>
            </div>
            <div class="col">
                <p>
                    <a class="text-light" style="text-decoration: none;" href="#!">Products</a>
                </p>
                <p>
                    <a class="text-light" style="text-decoration: none;" href="#!">Plans</a>
                </p>
                <p>
                    <a class="text-light" style="text-decoration: none;" href="#!">Technology</a>
                </p>
                <p>
                    <a class="text-light" style="text-decoration: none;" href="#!">FAQS</a>
                </p>
            </div>
            <div class="col">
                <p>
                    <a class="text-light" style="text-decoration: none;" href="#!">Write Feedback</a>
                </p>
                <p>
                    <a class="text-light" style="text-decoration: none;" href="#!">Blog</a>
                </p>
                <p>
                    <a class="text-light" style="text-decoration: none;" href="#!">Media</a>
                </p>
                <p>
                    <a class="text-light" style="text-decoration: none;" href="#!">About Us</a>
                </p>
            </div>
            <div class="col">
                <p>
                    <a class="text-light" style="text-decoration: none;" href="#!">Pricing</a>
                </p>
                <p>
                    <a class="text-light" style="text-decoration: none;" href="#!">Teams</a>
                </p>
            </div>
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold d-flex">Contact</h6>
                <hr class="mt-0" style="background-color: #7c4dff; width: 70px; padding: 1px;">
                <p class="d-md-table">
                    <i class="fa fa-home mr-3"></i> Bhilai, Chhattisgarh
                </p>
                <p class="d-md-table">
                    <i class="fa fa-envelope mr-3"></i> dhananjay1598@gmail.com
                </p>
                <p class="d-md-table">
                    <i class="fa fa-phone mr-3"></i> 9131021841
                </p>
                <p class="d-md-table">
                    <i class="fa fa-print mr-3"></i> 0788-XX678
                </p>

            </div>
        </div>
    </div>
</footer>